@model PagedList.IPagedList<Blog.Models.Post>
@using PagedList;

@using PagedList.Mvc;
<section>

    @foreach (var item in Model)
    {
        <div class="title">@Html.ActionLink(item.Name, "Details", new { id = item.Id }) </div><div style='clear:both'></div>

        <div class="blog">
            <p class="calendar">@item.DateAdded.Day<em>@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(item.DateAdded.Month)</em></p>

            <div class="body">
                @Html.Raw(item.Text)
            </div>
            Added by:  @Html.DisplayFor(modelItem => item.Authour.FirstName)
            <a class="btn btn-default" href="@Url.Action("details", "posts", new { id=item.Id })" role="button"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> comments @item.Comments.Count() </a>
            <div class="well">

                @Html.Partial("_Angular", item)
            </div>
            @if (User.IsInRole("Admin"))
            {

                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            }
        </div>

    }

    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page =
        page
}))
</section>